<ion-view view-title="Connect">
	<ion-content ng-controller="ConnectController as vm">
		<div class="contenedorConnect">

			<img src="images/RetoConnect/LogoMujerHolistica.png" alt="" class="logoMujerHolistica"/><!-- .logoMujerHolistica -->
			<div ng-hide="vm.mailStatus">
				<p>Recibe nuestro Newsletter y entérate de todo lo que sucede en Mujer Holistica</p>
			
				<div class="padding">
				    <label class="item item-input">
						<input type="email" name="email" ng-model="email" placeholder="Ingresa tu correo electrónico" required>
					</label>
				</div>
				<div class="padding">
					<button class="button button-calm button-full" ng-click="vm.sendEmail(email)">Suscríbete</button>
				</div>
				<div class="padding">
					<ion-checkbox>Me gustaría recibir noticias, consejos, recetas y ofertas exclusivas de Mujer Holística</ion-checkbox>
				</div>
			</div>
			<div ng-show="vm.mailStatus">
				<p>{{vm.mailMessage}}</p>
			</div>
			<div class="redesSocialesNL">
				<a onclick="window.open('https://www.facebook.com/mujerholistica', '_system', 'location=yes')"><img src="images/principal/facebookIcon.png" alt="Facebook Reto Batido"></a>
				
				<a onclick="window.open('https://www.instagram.com/mujerholistica/', '_system', 'location=yes')"><img src="images/principal/instagramIcon.png" alt="Instagram Reto Batido"></a>
				<!--
				<a href="https://twitter.com/mujerholistica"><img src="images/principal/twitterIcon.png" alt="Twitter Reto Batido"></a><a href=""><img src="images/principal/pinterestIcon.png" alt="Pinterest Reto Batido"></a>-->
				<a onclick="window.open('mailto:mujer@mujerholistica.com', '_system', 'location=yes')"><img src="images/principal/mailIcon.png" alt="Mail Reto Batido"></a>
			</div><!-- .redesSocialesFooter -->

			
		</div><!-- .contenedorConnect -->
	</ion-content>
</ion-view>