<ion-view view-title="Recetas Favoritas">
	<ion-content ng-controller="FavoritesList as vm">
		<div ng-show="vm.noFavorites" class="elementoLista">
			<img class="logoMujerHolistica" alt="" ng-src="http://www.retobatidosapp.com/app/reto_batidos/2016/wp/wp-content/uploads/2016/02/LogoMujerHolistica.png" src="http://www.retobatidosapp.com/app/reto_batidos/2016/wp/wp-content/uploads/2016/02/LogoMujerHolistica.png">
			<h3>Lo sentimos =(</h3>
			<p>De momento no tienes licuados en tus favoritos, ¡qué esperas para añadirlos!</p>
		</div>
	  	<div ng-repeat="shake in vm.shakeDetails">
			<div class="iniciaReto">
				<div class="imagenIniciaReto">
					<a href="#/app/favorites-shake-list/{{shake.id}}"><img ng-src="{{shake.better_featured_image.source_url}}" alt="{{shake.title.rendered}}"></a>
					<h2>{{shake.title.rendered}}</h2>
				</div>
			</div><!-- .iniciaReto -->
	  	</div>
	</ion-content>
</ion-view>
