<ion-view ng-controller="ShakeDetails as vm" view-title="{{vm.shakeDetails.title.rendered}}">
	<ion-content ng-controller="ShakeDetails as vm">
		<div class="bannerBatidoAbierto">
			<div class="imagenBatidoAbierto">
				<a href="">
					<img ng-src="{{vm.shakeDetails['Imagen Detalle'][0]}}" alt="">
				</a>
			</div><!-- .imagenBatidoAbierto -->

			<div class="contenidoBatidoAbierto">
				<h2>{{vm.shakeDetails.title.rendered}}</h2>
			</div><!-- .contenidoBatidoAbierto -->
		</div><!-- .bannerBatidoAbierto -->
		
		<div class="textoBatidoAbierto">
            <div ng-bind-html="vm.shakeDetails.content.rendered"></div>
		</div><!-- .textoBatidoAbierto -->
		
		<ng-include src="'app/layout/footer.html'"></ng-include>
	</ion-content>
</ion-view>