<ion-view view-title="Retos Anteriores">
	<ion-content ng-controller="PreviousChallengeList as vm">
		<div class="bannerPreguntas">
			<div class="imagenBannerPreguntas">
				<img src="images/RetosPasados/bannerBatidos.png" alt="Retos Anteriores">
			</div><!-- .imagenBannerPreguntas -->
		</div><!-- .bannerPreguntas -->
	    <div class="textoRetosPasados">
			<p>En esta sección podrás descubrir recetas de retos anteriores, mantente atento de nuestras actualizaciones con más recetas.</p>
		</div><!-- .textoRetosPasados -->

	  	<div ng-repeat="shake in vm.shakesInChallenge">
			<div class="iniciaReto retosPasados">
				<div class="imagenIniciaReto">
					<a href="#/app/previous-shake-list/{{shake.id}}"><img ng-src="{{shake.better_featured_image.source_url}}" alt="{{shake.title.rendered}}"></a>
					<h2>{{shake.title.rendered}}</h2>
					<a class="favoritoReto" ng-click="vm.favoritesUpdate({{shake.id}})">
						<img src="images/iniciaRetoBatido/favorito.png" ng-hide="shake.inFavorites" alt="Favorito">
						<img src="images/iniciaRetoBatido/favoritoLleno.png" ng-show="shake.inFavorites" alt="Favorito">
					</a>
				</div>
			</div><!-- .iniciaReto -->
	  	</div>
	</ion-content>
</ion-view>
