<ion-view ng-controller="PreviousShakeDetails as vm" view-title="{{vm.shakeDetails.title.rendered}}">
	<ion-content ng-controller="PreviousShakeDetails as vm">
		<div class="bannerBatidoAbierto">
			<div class="imagenBatidoAbierto">
				<a href="">
					<img ng-src="{{vm.shakeDetails['Imagen Detalle'][0]}}" alt="">
				</a>
			</div><!-- .imagenBatidoAbierto -->

			<div class="contenidoBatidoAbierto">
				<h2>{{vm.shakeDetails.title.rendered}}</h2>
			</div><!-- .contenidoBatidoAbierto -->
		</div><!-- .bannerBatidoAbierto -->
		
		<div class="textoBatidoAbierto">
            <div ng-bind-html="vm.shakeDetails.content.rendered"></div>
		</div><!-- .textoBatidoAbierto -->
		
		<div class="barraSocial">
			<p>Comparte tu avance</p>
			<div>
				<a href="" class="socialAvance"><img src="images/RecetaAbierta/facebookIco.png" alt=""></a><!-- .socialAvance -->
				<!--<a href="" class="socialAvance"><img src="images/RecetaAbierta/twitterIco.png" alt=""></a> .socialAvance -->
				<a href="" class="socialAvance"><img src="images/RecetaAbierta/instagramIco.png" alt=""></a><!-- .socialAvance -->
				<!--<a href="" class="socialAvance"><img src="images/RecetaAbierta/pinterestIco.png" alt=""></a> .socialAvance -->
				<br class="clear"/>
			</div><!-- .barraSocial -->
		</div>
		<ng-include src="'app/layout/footer.html'"></ng-include>
	</ion-content>
</ion-view>