<ion-view view-title="Lista de Compras">
	<ion-content ng-controller="ShoppingController as vm">
		<div class="bannerPreguntas">
			<div class="imagenBannerPreguntas">
				<img src="images/listaDeCompras/BannerListaCompras.jpg" alt="">
			</div><!-- .imagenBannerPreguntas -->
		</div><!-- .bannerPreguntas -->
		<div id="listaCompras">
			<h2>1ra semana</h2>
			<div ng-repeat="ingredient in vm.ingredientsWeek1">
				<ion-checkbox ng-model="ingredient.itemPurchased" ng-checked="ingredient.itemPurchased" ng-change="vm.toggleIngredientPurchased(ingredient.id)">{{ingredient.title.rendered}}</ion-checkbox>
			</div>
			<h2>2da semana</h2>
			<div ng-repeat="ingredient in vm.ingredientsWeek2">
				<ion-checkbox ng-model="ingredient.itemPurchased" ng-checked="ingredient.itemPurchased" ng-change="vm.toggleIngredientPurchased(ingredient.id)">{{ingredient.title.rendered}}</ion-checkbox>
			</div>
		</div>
		<ng-include src="'app/layout/footer.html'"></ng-include>
	</ion-content>
</ion-view>
