	<!-- ///////// INICIA EL FOOTER /////////////////////////////////////////// -->
    
    <div id="footer" ng-controller="FooterController as vm"> 
		<div class="logofooter">
			<a href="#"><img src="images/principal/logoMujerHolisticaFooter.png" alt="Logotipo Mujer Holistica"></a>
		</div><!-- .logofooter -->
		<div class="califica">
			<p>Califica esta App</p>
			<div class="estrellas" ng-click="vm.rateApp()">
				<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
				<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
				<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
				<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
				<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
			</div><!-- .estrellas -->
		</div><!-- .califica -->
		<div class="comparte">
			<p>Comparte con nosotros</p>
			<div class="redesSocialesFooter">
				<a ng-click="vm.shareAnywhere()"><img src="images/principal/facebookIcon.png" alt="Facebook Reto Batido"></a>
				
				<a ng-click="vm.shareAnywhere()"><img src="images/principal/instagramIcon.png" alt="Instagram Reto Batido"></a>
				<!--
				<a href="https://twitter.com/mujerholistica"><img src="images/principal/twitterIcon.png" alt="Twitter Reto Batido"></a><a href=""><img src="images/principal/pinterestIcon.png" alt="Pinterest Reto Batido"></a>-->
				<a ng-click="vm.shareAnywhere()"><img src="images/principal/mailIcon.png" alt="Mail Reto Batido"></a>
			</div><!-- .redesSocialesFooter -->
		</div><!-- .comparte -->
    </div><!-- #footer -->