<ion-side-menus enable-menu-with-back-views="false" ng-controller="MenuController as vm">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#app/home">
                    <img src="images/Menu/icon-home.png" class="icon-home icon-inicio"> Inicio
                </ion-item>
                <ion-item menu-close href="#app/shake-list">
                    <img src="images/Menu/icon-reto-batidos.png" class="icon-home icon-reto-batido"> Reto Batidos
                </ion-item>
                <ion-item menu-close href="#app/previous-shake-list">
                    <img src="images/Menu/icon-mas-batidos.png" class="icon-home icon-mas-batidos"> + Batidos
                </ion-item>
                <ion-item menu-close href="#app/favorites-shake-list">
                    <img src="images/Menu/icon-favoritos.png" class="icon-home icon-favoritos"> Favoritos
                </ion-item>
                <ion-item menu-close href="#app/shopping-list/74">
                    <img src="images/Menu/icon-lista-compras.png" class="icon-home icon-lista-compras"> Lista de Compras
                </ion-item>
                <ion-item menu-close href="#app/faq/71">
                    <img src="images/Menu/icon-preguntas.png" class="icon-home icon-preguntas"> Preguntas
                </ion-item>
                <ion-item menu-close href="#app/about/2">
                    <img src="images/Menu/icon-about.png" class="icon-home icon-about"> Acerca de Nosotros
                </ion-item>
                <ion-item menu-close href="#app/connect">
                    <img src="images/Menu/icon-connected.png" class="icon-home icon connect"> Connect
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
