<ion-view view-title="Acerca de nosotros">
	<ion-content ng-controller="AboutController as vm">
		<div class="contenedorAbout">
			
			<img ng-src="{{vm.pageDetails.better_featured_image.source_url}}" alt="{{vm.title.rendered}}" class="logoMujerHolistica">

			<div ng-bind-html="vm.pageDetails.content.rendered"></div>

			<div class="icon-custom">
				<a ng-click="vm.rateApp()">
					<img src="images/about/StarIco.png" alt="icono estrella">
					<p>Calificanos en App Store</p>
				</a>
			</div>

			<div class="icon-custom">
				<a onclick="window.open('https://mujerholistica.com/terminos-y-condiciones/', '_system', 'location=yes')">
					<img src="images/about/DisclaimerIco.png" alt="icono estrella">
					<p>Disclaimer</p>
				</a>
			</div>

			<div class="icon-custom">
				<a onclick="window.open('https://mujerholistica.com/terminos-y-condiciones/', '_system', 'location=yes')">
					<img src="images/about/CreditsIco.png" alt="icono estrella">
					<p>Créditos</p>
				</a>
			</div>

			<div class="icon-custom">
				<a onclick="window.open('https://mujerholistica.com/terminos-y-condiciones/', '_system', 'location=yes')">
					<img src="images/about/PrivacyIco.png" alt="icono estrella">
					<p>Privacidad</p>
				</a>
			</div>

			<div class="redesSocialesAbout">
				<a onclick="window.open('https://www.facebook.com/mujerholistica', '_system', 'location=yes')">
					<img src="images/about/facebookIcon.png" alt="Facebook Reto Batido">
				</a>
				
				<a onclick="window.open('https://www.instagram.com/mujerholistica/', '_system', 'location=yes')">
					<img src="images/about/instagramIcon.png" alt="Instagram Reto Batido">
				</a>
				<!--
				<a href="https://twitter.com/mujerholistica"><img src="images/about/twitterIcon.png" alt="Twitter Reto Batido"></a><a href=""><img src="images/about/pinterestIcon.png" alt="Pinterest Reto Batido"></a>-->
				<a onclick="window.open('mailto:mujer@mujerholistica.com', '_system', 'location=yes')">
					<img src="images/about/mailIcon.png" alt="Mail Reto Batido">
				</a>
			</div><!-- .redesSocialesFooter -->

			<img src="images/about/logoRetoBatidos.png" alt="Logo Reto Batidos" class="logoRBAbout">
			<br class="clear">
		</div><!-- .contenedorAbout -->
	</ion-content>
</ion-view>
