<ion-view view-title="Recetas">
	<ion-content ng-controller="ChallengeList as vm">
	  	<div ng-repeat="shake in vm.shakes">
			<div class="iniciaReto">
				<div class="imagenIniciaReto">
					<a href="#/app/shake-list/{{$index + 1}}/{{shake.id}}"><img ng-src="{{shake.better_featured_image.source_url}}" alt="{{shake.title.rendered}}"></a>
					<div class="notFinished" ng-show="shake.expired && !shake.challengeFinished">
						PENDIENTE
					</div>
					<ion-checkbox ng-model="shake.challengeFinished" ng-checked="shake.challengeFinished" ng-change="vm.shakeChallengeUpdate()"></ion-checkbox>
					<a href="javascript:void(0);" class="diaSemana"><img ng-src="images/iniciaRetoBatido/dia{{$index + 1}}.png" alt="Dia {{$index + 1}}"></a>
					<h2>{{shake.title.rendered}}</h2>
					<a class="favoritoReto" ng-click="vm.favoritesUpdate({{shake.id}})">
						<img src="images/iniciaRetoBatido/favorito.png" ng-hide="shake.inFavorites" alt="Favorito">
						<img src="images/iniciaRetoBatido/favoritoLleno.png" ng-show="shake.inFavorites" alt="Favorito">
					</a>
				</div>
			</div><!-- .iniciaReto -->
	  	</div>
	</ion-content>
</ion-view>
