<ion-view ng-controller="ShakeDetails as vm" view-title="{{vm.shakeDetails.title.rendered}}">
<ion-nav-buttons side="right">
	<a class="button button-icon icon ion-ios-upload-outline" ng-click="vm.shareAnywhere()"></a>
</ion-nav-buttons>
	<ion-content ng-controller="ShakeDetails as vm">
		<div class="bannerBatidoAbierto">
			<div class="imagenBatidoAbierto">
				<a href="">
					<img ng-src="{{vm.shakeDetails['Imagen Detalle'][0]}}" alt="">
				</a>
			</div><!-- .imagenBatidoAbierto -->

			<div class="contenidoBatidoAbierto">
				<a href="">
					<img ng-src="images/iniciaRetoBatido/dia{{vm.challengeDay}}.png" alt="Dia {{vm.challengeDay}}">
				</a>
				<h2>{{vm.shakeDetails.title.rendered}}</h2>
			</div><!-- .contenidoBatidoAbierto -->
		</div><!-- .bannerBatidoAbierto -->
		
		<div class="textoBatidoAbierto">
            <div ng-bind-html="vm.shakeDetails.content.rendered"></div>
		</div><!-- .textoBatidoAbierto -->
		
		<div class="barraSocial">
			<p>Comparte tu avance</p>
			<div>
				<a ng-click="vm.shareAnywhere()" class="socialAvance"><img src="images/RecetaAbierta/facebookIco.png" alt=""></a><!-- .socialAvance -->
				<!--<a href="" class="socialAvance"><img src="images/RecetaAbierta/twitterIco.png" alt=""></a> .socialAvance -->
				<a ng-click="vm.shareAnywhere()" class="socialAvance"><img src="images/RecetaAbierta/instagramIco.png" alt=""></a><!-- .socialAvance -->
				<!--<a href="" class="socialAvance"><img src="images/RecetaAbierta/pinterestIco.png" alt=""></a> .socialAvance -->
				<br class="clear"/>
			</div><!-- .barraSocial -->
		</div>

		<div id="footer"> 
			<div class="logofooter">
				<a href="#" ng-click="vm.rateApp();"><img src="images/principal/logoMujerHolisticaFooter.png" alt="Logotipo Mujer Holistica"></a>
			</div><!-- .logofooter -->
			<div class="califica">
				<p>Califica esta App</p>
				<div class="estrellas" ng-click="vm.rateApp();">
					<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
					<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
					<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
					<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
					<a href=""><img src="images/principal/starIco.png" alt="Estrella"></a>
				</div><!-- .estrellas -->
			</div><!-- .califica -->
			<div class="comparte">
				
			</div><!-- .comparte -->
	    </div><!-- #footer -->


	</ion-content>
</ion-view>