<ion-view view-title="Home">
	<ion-content ng-controller="HomeController as vm">
		<div class="bannerPrincipal">
	    	<div class="logoRetoBatidos">
	    		<a href="javascript:void(0)"><img src="images/principal/LogoRetoBatidos.png" alt=""></a>
	    	</div><!-- .logoRetoBatidos -->
	    	<div class="btnIniciaReto">
	    		<a ng-hide="vm.challengeInit" ng-click="vm.initChallenge()"><img src="images/principal/iniciaElReto.png" alt="Inicia el reto Batidos"></a>
	    		<a ng-show="vm.challengeInit" href="#app/shake-list">
	    			<img src="images/principal/retoDaClick.png" alt="Resetea el reto Batidos">
	    			<img class="over" src="images/principal/retoDaClickOver.png" alt="Resetea el reto Batidos">
	    		</a>
	    		<a ng-show="vm.challengeInit" ng-click="vm.resetChallenge()">
	    			<img src="images/principal/reiniciaReto.png" alt="Resetea el reto Batidos">
	    			<img class="over" src="images/principal/reiniciaRetoOver.png" alt="Resetea el reto Batidos">
	    		</a>
	    	</div><!-- .btnIniciaReto -->
	    	<br class="clear"/>
	    	
	    </div><!-- .bannerPrincipal -->

		<div class="bannerApp">
			<a href="#app/faq/71"><img src="images/principal/Preguntas.jpg" alt=""></a>
		</div><!-- .bannerApp -->

		<div class="bannerApp">
			<a href="#app/what-you-need/81"><img src="images/principal/Preparate.jpg" alt=""></a>
		</div><!-- .bannerApp -->

		<div class="bannerApp">
			<a href="#app/shopping-list/74"><img src="images/principal/ListaDeCompras.jpg" alt=""></a>
		</div><!-- .bannerApp -->

		<div class="bannerApp">
			<a href="#app/ingredients/79"><img src="images/principal/SustitucionDeIngredientes.jpg" alt=""></a>
		</div><!-- .bannerApp -->
		<div class="bannerApp">
			<a href="#app/previous-shake-list"><img src="images/principal/RecetasRetosPasados.jpg" alt=""></a>
		</div> <!-- .bannerApp -->
		<ng-include src="'app/layout/footer.html'"></ng-include>
	</ion-content>
</ion-view>