/*///////////////////////// Estilos generales del documento /////////////////////////*/
@font-face {
    font-family: "TitilliumBlack";
    src: url('../fonts/Titillium-Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-Bold";
    src: url('../fonts/Titillium-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-Light";
    src: url('../fonts/Titillium-Light.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-Regular";
    src: url('../fonts/Titillium-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-RegularItalic";
    src: url('../fonts/Titillium-RegularItalic.otf');
    font-weight: normal;
    font-style: italic;
}

/* Cambia el color de la selección dentro de los navegadores en los navegadores que lo soportan */
::-moz-selection{
	background: 				#393939; 
	color: 					    #fff; 
	text-shadow: 			    none;
}
::selection{
	background: 				#393939; 
	color: 					    #fff; 
	text-shadow: 			    none;
}

body{
    width:                      100%;
	font-size:                  1em;
	font-family:			    "Titillium-Regular", arial, sans-serif;
	color:					    #6f6962;
}
h1, h2, h3, h4{
	font-family:				'Titillium-Bold';
	font-weight:				bold;
}

h2{
    font-size:                  1.6em
}

a{
 color:                         #000;   
}

select{
    height:                     40px;
    padding:                    5px 10px;
    padding-right:              45px;
    margin:                     40px 28px;
    background:                 url(../images/fondo-select.jpg) right no-repeat;
    border:                     1px #000 solid;
    border-radius:              0;
    -webkit-border-radius:      0;
    -ms-border-radius:          0;
    -moz-border-radius:         0;
    -o-border-radius:           0;
    -webkit-appearance:         none;
    font-size:                  14px;
   
}

.floatL{
	float:					left;
}

.floatR{
	float:					right;
}

.clear{
    clear:                  both;   
}

.wrapper{
    width:                  1024px;
    display:                block;
    margin:                 0 auto;
}

.block{
    display:                block;
}

.margenMenu{
    margin-top:             129px;
}

/********************** Estilos Pantalla Principal *********************************************/
.bannerPrincipal{
    height:                                     300px;
    background:                                 url(../images/principal/BannerReto.jpg)  no-repeat bottom center;
    -webkit-background-size:                    cover;
    -moz-background-size:                       cover;
    -o-background-size:                         cover;
    background-size:                            cover;
}
.logoRetoBatidos{
    width:                                      41.4666%; /* 311px entre 750 */
    display:                                    block;
    margin:                                     4.66666% 0 0 6.6666%; /* 35px 0 0 90px entre 750 */
    float:                                      left;
}

.btnIniciaReto{
    width:                                      33.3333%; /* 250px entre 750 */
    display:                                    block;
    margin:                                     0 0 0 8%; /* 0 0 0 60px entre 750 */
    float:                                      left;
}

.btnIniciaReto a{
    display:                                    block;
}
.btnIniciaReto a > img.over{
    display:                                    none;
}
.btnIniciaReto a:focus > img.over,
.btnIniciaReto a:hover > img.over{
    display:                                    block;
}
.btnIniciaReto a:focus > img,
.btnIniciaReto a:hover > img{
    display:                                    none;
}

.bannerApp{
    display:                                    block;
    margin:                                     0;
    padding:                                    0;
}
/********************** Estilos Pantalla Retos Pasados *****************************/
.bannerRetosPasados{
    height:                                     448px;
    background:                                 url(../images/RetosPasados/bannerBatidos.png) top left no-repeat;
    margin-top:                                 129px;
}

.textoRetosPasados p{
    padding:                                    30px;
    max-width:                                  690px;
    font-size:                                  18px;
    color:                                      #6f6962;
    text-align:                                 center;
}

.batidoPasado{
    border-bottom:                              2px solid #fff;
}

.imagenBatidoPasado{
    z-index:                                    1;
}

.elementosBatidoPasado{
    position:                                   absolute;
    z-index:                                    10;
    margin-top:                                 -180px;
    margin-bottom:                              0;
}

.elementosBatidoPasado p, .elementosBatidoPasado h2 {
    display:                                    block;
    margin-left:                                30px;
}

.favorito{
    display:                                    block;
    margin:                                     10px 30px 35px 30px;
}

/********************** Estilos Pantalla Retos *********************************************/

.iniciaReto{
    position:                                   relative;
    max-width:                                  750px;
}

.imagenIniciaReto{
    position:                                   relative;

}

.elementosIniciaReto{
    position:                                   absolute;
    top:                                        0;
    width:                                      100%;
}

.elementosIniciaReto h2, .check {
    margin-left:                                8%; /* 60 entre 750 * 100*/
}

.elementosIniciaReto h2 {
    display:                                    block;
    float:                                      left;
}

.diaSemana {
    margin:                                     8.666% 0 14.666% 8%;  /*65px 0 110px 60px; */
    display:                                    block;
    width:                                      37.6%;

}

.check{
    display:                                    block;
    clear:                                      both;
    margin-bottom:                              2.666%; /* 20 entre 750 * 100*/
    width:                                      4.5333%; /* 34 entre 750 * 100*/
}

.favoritoReto{
    float:                                      right;
    margin-right:                               4%; /* 30 entre 750 * 100*/
    widows: ;                                   5.7333%; /* 43 entre 750 * 100*/
}

/********************** Estilos Receta Abierta *************************************/

.bannerBatidoAbierto{
    position:                                   relative;
    max-width:                                  750px;
}

.imagenBatidoAbierto{
    z-index:                                    1;
}

.contenidoBatidoAbierto{
    position:                                   absolute;
    z-index:                                    10;
    top:                                        20px; /*60px entre 750*/
    width:                                      100%;
    display:                                    block;
}

.contenidoBatidoAbierto img{
    width:                                      40%; /*300px entre 750*/
    display:                                    block;
    margin:                                     0 auto;
}

.contenidoBatidoAbierto h2{
    font-size:                                  20px;
    text-align:                                 center;
    font-family:                                "Titillium-Regular";
}

.textoBatidoAbierto{
    max-width:                                  750px;
    display:                                    block;
    margin-bottom:                              30px;
}

.textoBatidoAbierto h3{
    width:                                      90%;
    font-size:                                  30px;
    text-align:                                 center;
    display:                                    block;
    border-bottom:                              2px solid #ee7b68;
    padding:                                    15px 0;
    margin:                                     auto;
    margin-bottom:                              30px; 


}

.textoBatidoAbierto p{
    width:                                      90%;
    font-size:                                  1.2em;
    text-align:                                 center;
    display:                                    block;
    margin:                                     auto;
    margin-bottom:                              10px; 
}

.barraSocial{
    background-color:                           #ee7b68;
    color:                                      #fff;
    max-width:                                  750px;
}

.barraSocial p{
    font-size:                                  1.1em;
    display:                                    block;
    float:                                      left;
    padding:                                    5.06666% 6% 5.06666%  13.6%; /*38px 45px 38px 102px;*/
}


.socialAvance img{
    width:                                      8.93333%; 
    padding:                                    5.06666%  1%; /* 38px 15px*/
}

/********************** Estilos Connect *********************************************/

.contenedorConnect{
    max-width:                                  750px;
    background-image:                           url(../images/RetoConnect/fondoConnect.jpg);
    background-position:                        bottom left;
    padding-top:                                20px;
}

.contenedorConnect p{
    display:                                    block;
    padding:                                    9.06666%; /* 68px entre 750px  */
    text-align:                                 center;
    font-size:                                  20px;
    line-height:                                24px;
    margin:                                     4.66666% 0 0; /* 35px entre 750px  */
}

.logoMujerHolistica{
    display:                                    block;
    width:                                      52%; /* 390px entre 750px  */
    margin:                                     2.6666% auto; /* 20px entre 750px  */
}

#newsletterMH input[type=email]{
    display:                                    block;
    width:                                      80%;
    padding:                                    1.3333%; /* 10px entre 750px  */
    border-radius:                              0.6666%; /* 5px entre 750px  */
    margin:                                     0 auto; 
}

.checkMH{
    display:                                    block;
    width:                                      80%;
    padding:                                    1.3333%; /* 10px entre 750px  */
    margin:                                     2.6666% auto; /* 20px entre 750px  */
}

#newsletterMH input[type=checkbox]{
    width:                                      25px; 
    height:                                     25px; 
    border-radius:                              50%;
}

.checkMH label{

    text-align:                                 center;
    font-size:                                  1.5em;
    padding-left:                               2.6666%; /* 20px entre 750px  */

}

.redesSocialesNL{
    display:                                    block;
    width:                                      80%; /* 300px entre 750px  */
    margin:                                     12% auto; /* 90px entre 750px  */
    margin-bottom:                              0px; 
    padding-bottom:                             600px; 
    text-align:                                 center;
}
.redesSocialesNL a{
    display:                                    inline-block;
}

.redesSocialesNL img{
    width:                                      65%; /* 36 px entre 300px  */
    padding:                                    1.6666%; /* 5 px entre 300px  */
}

/********************** Estilos Receta Abierta *************************************/

.bannerPreguntas{
    max-width:                                  750px;
}

.textoPreguntas{
    max-width:                                  750px;
    display:                                    block;
}

.textoPreguntas h3{
    width:                                      80%;
    font-size:                                  1.3em;
    color:                                      #68455a;
    text-align:                                 left;
    display:                                    block;
    margin:                                     15px auto; 
}

.textoPreguntas p{
    width:                                      80%;
    font-size:                                  1em;
    display:                                    block;
    margin:                                     20px auto; 
}

/********************** Lista de Compras *******************************************/

.elementoLista{
    display:                                    block;
    width:                                      85%;
    padding:                                    1.3333%; /* 10px entre 750px  */
    margin:                                     0% auto; /* 20px entre 750px  */
}

#listaCompras{
    margin:                                     20px 0 50px 0; 
}

#listaCompras h3{
    display:                                    block;
    color:                                      #708251;
    width:                                      90%;
    font-size:                                  1.7em;
    padding:                                    1.3333%; /* 10px entre 750px  */
    margin:                                     0% auto; /* 20px entre 750px  */
}

#listaCompras input[type=checkbox]{
    width:                                      25px; 
    height:                                     25px; 
    border-radius:                              255px !important;
    padding-left:                               25px;
}



/********************** Estilos Footer *********************************************/

#footer{
    min-height:                                 200px;
    max-width:                                  750px;
    background:                                 rgba(214,214,214,1);
    background:                                 -webkit-linear-gradient(rgba(214,214,214,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
    background:                                 -o-linear-gradient(rgba(214,214,214,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
    background:                                 linear-gradient(rgba(214,214,214,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
}

.logofooter img{
    width:                                      22.73333%; /* (133px / 750) * 100*/
    padding:                                    6% 2% 0 2.3333%; 
    display:                                    block;
    float:                                      left;

}

.califica{
    float:                                      left;
    display:                                    block;
    width:                                      33.3333%; /* (175px / 750) * 100*/
    padding:                                    8% 1%; /* (60px / 750) * 100, (15px / 750)*100 */
    text-align: center;
}

.califica p, .comparte p{
    font-size:                                  .75em;
}

.comparte{
    float:                                      left;
    display:                                    block;
    max-width:                                  43.3333%; /* (175px / 750) * 100*/
    padding:                                    8% 3%; /* (60px / 750) * 100, (15px / 750)*100 */
    text-align: center

}

.estrellas a img{
    padding-top:                                2.6666%; /* (20 / 750) * 100  */
    width:                                      13.8571%; /*26px entre 175 * 100 */
}

.redesSocialesFooter a img{
    padding:                                    2.6666% 1.33333% 1.33333% 1.33333%; /*20px 10px 10px 10px*/
    width:                                      20.8571%; /*26px entre 175 * 100 */
}

/******************************* ESTILOS ABOUT *********************************************************/

.contenedorAbout{
    max-width:                                  750px;
    background:                                 #ffffff; /* Old browsers */
    background:                                 -webkit-linear-gradient(#ffffff 30%, #e8e8e8 100%);
    background:                                 -o-linear-gradient(#ffffff 30%, #e8e8e8 100%);
    background:                                 linear-gradient(#ffffff 30%, #e8e8e8 100%); 
}

.contenedorAbout p{
    display:                                    block;
    padding:                                    0 10px; 
    text-align:                                 left;
    font-size:                                  .8em;
    margin:                                     10px;
}

.contenedorAbout p strong{
    display:                                    block;
    color:                                      #1cb1a7;
    font-size:                                  14px;
    font-weight:                                bold; 
    margin-bottom:                              5px;
}

.perfil{
    display:                                    block;
    padding:                                    0 10px; 
    margin:                                     40px 0;
}

.perfil img{
    display:                                    block;
    width:                                      30.666666%; /* (230px / 750) * 100*/
    float:                                      left; 
    margin:                                     10px;
}

.perfil p{
    display:                                    block;
    width:                                      60%; /* (360px / 750) * 100*/
    float:                                      left;
    margin:                                     10px 0;
    padding:                                    0;
    font-size:                                  11px;
    line-height:                                14px;
}
.perfil p:last-child{
    clear:                                      both;
    width:                                      100%;
}

hr{
    display: block;
    width: 95%;
    background-color: #1cb1a7;
    margin: 65px auto;
}

.redesSocialesAbout{
    display:                                    block;
    width:                                      40%; /* 300px entre 750px  */
    margin:                                     12% auto; /* 90px entre 750px  */
    margin-bottom:                              0px;  
}

.redesSocialesAbout img{
    width:                                      20%; /* 36 px entre 300px  */
    padding:                                    1.6666%; /* 5 px entre 300px  */
    margin-left:                                10px;
}

.logoRBAbout{
    display:                                    block;
    width:                                      29.333333%; /* 220px entre 750px  */
    margin:                                     40px auto;
}

.icon-custom{
   display:                                     block;
   width:                                       78.4%; /* 588px entre 750px  */
   margin:                                      0 auto;
   font-size:                                   1.5em;
   border-bottom:                               2px solid #ccc;

}

.icon-custom a img{
   display:                                     block;
   float:                                       left;
   width:                                       8.5034%; /* 50px entre 588px  */
   margin-top:                                  7px; 
}

.icon-custom a p{
   display:                                     block;
   text-decoration:                             none;
   color:                                       #81817f;
   padding:                                     10px;
   margin-left:                                 8.66666%; /* 65px entre 750px  */
}

.icon-custom a{
   display:                                     block;
   text-decoration:                             none;
}



/********************** Estilos míos de mi :3 (Duk) *************************************/
.imagenIniciaReto{
    position:                                   relative;
}
    .imagenIniciaReto .item-checkbox{
        position:                               absolute;
        bottom:                                 50px;
        left:                                   0;
        background:                             none;
        border:                                 none;
    }
    .imagenIniciaReto .checkbox input::before, 
    .imagenIniciaReto .checkbox-icon::before{
        background:                             none;
        border:                                 1px solid #999;
    }
    .diaSemana {
        margin:                         0;
        width:                          37.6%;
        position:                       absolute;
        top:                            40px;
        left:                           20px;
    }
    .imagenIniciaReto h2{
        position:                       absolute;
        bottom:                         0;
        left:                           15px;
        right:                          130px;
        font-family:                    "Titillium-Regular";
        font-size:                      16px;
        color:                          #494c38;
    }
    .imagenIniciaReto .favoritoReto{
        position:                               absolute;
        bottom:                                 0;
        right:                                  0;
        margin-right:                           0;
        width:                                  44px;
        height:                                 44px;
    }
    .retosPasados .imagenIniciaReto .favoritoReto{
        position:                               absolute;
        bottom:                                 50px;
        left:                                   5px;
    }
        .imagenIniciaReto .favoritoReto img{
            width:                              50%;
            display:                            block;
            margin:                             13px auto;
        }
.button.button-calm{
    background-color:           #73c7c0;
}
.contenedorConnect .button.button-block, 
.contenedorConnect .button.button-full{
    margin:                     -10px 0 0;
}
.contenedorConnect .item.item-checkbox{
    background:                 none;
    border:                     none;
}
.contenedorConnect .item-content span{
    overflow:                   visible;
    text-overflow:              unset;
    white-space:                initial;
}
#listaCompras h2{
    font-size:                  30px;
    text-align:                 center;
    color:                      #ee7b68;
    font-family:                "Titillium-Regular";
}
#listaCompras label{
    border:                     none;
    padding-bottom:             10px;
    padding-top:                10px;
}
img.icon-home{
    width:                      25px;
    margin:                     0 5px -5px;
}
img.icon-home.icon-inicio{
    width:                      30px;
    margin:                     0 5px 0 0;
}
img.icon-home.icon-reto-batido{
    width:                      25px;
    margin:                     0 5px -8px;
}
img.icon-home.icon-abput{
    width:                      25px;
    margin:                     0 5px -8px;
}
.notFinished{
    position:                   absolute;
    background:                 #da1713;
    padding:                    5px 25px 3px;
    color:                      #fff;
    bottom:                     85px;
    left:                       20px;
}
#ingredients img{
    max-width:                  100%;
    height:                     auto;
    margin-bottom:              -2px;
}
.textoPreguntas #ingredients .column p{
    margin:                     0;
    width:                      100%;
}