<ion-view view-title="Preguntas Frecuentes">
	<ion-content ng-controller="FaqController as vm">
		<div class="bannerPreguntas">
			<div class="imagenBannerPreguntas">
				<img ng-src="{{vm.pageDetails.better_featured_image.source_url}}" alt="{{vm.title.rendered}}">
			</div><!-- .imagenBannerPreguntas -->
		</div><!-- .bannerPreguntas -->
		<div class="textoPreguntas">
			<div ng-bind-html="vm.pageDetails.content.rendered"></div>
		</div>
		<ng-include src="'app/layout/footer.html'"></ng-include>
	</ion-content>
</ion-view>
