/*
Theme Name: Nombre del Tema
Theme URI: http://www.moyart.com.mx/
Author: MoyArt
Author URI: http://www.moyart.com.mx/
Description: Templete generado para el sitio...
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: fotos, responsive, MoyArt
Text Domain: moyart.com.mx
*/

/*///////////////////////// Estilos generales del documento /////////////////////////*/
@font-face {
    font-family: "TitilliumBlack";
    src: url('fonts/Titillium-Black.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-Bold";
    src: url('fonts/Titillium-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-Light";
    src: url('fonts/Titillium-Light.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-Regular";
    src: url('fonts/Titillium-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Titillium-RegularItalic";
    src: url('fonts/Titillium-RegularItalic.otf');
    font-weight: normal;
    font-style: italic;
}

/* Cambia el color de la selección dentro de los navegadores en los navegadores que lo soportan */
::-moz-selection{
	background: 				#393939; 
	color: 					    #fff; 
	text-shadow: 			    none;
}
::selection{
	background: 				#393939; 
	color: 					    #fff; 
	text-shadow: 			    none;
}

body{
    width:                      100%;
	font-size:                  1em;
	font-family:			    "Titillium-Regular", arial, sans-serif;
	color:					    #6f6962;
}
h1, h2, h3, h4{
	font-family:				'Titillium-Bold';
	font-weight:				bold;
}

h2{
    font-size:                  1.6em
}

a{
 color:                         #000;   
}

select{
    height:                     40px;
    padding:                    5px 10px;
    padding-right:              45px;
    margin:                     40px 28px;
    background:                 url(images/fondo-select.jpg) right no-repeat;
    border:                     1px #000 solid;
    border-radius:              0;
    -webkit-border-radius:      0;
    -ms-border-radius:          0;
    -moz-border-radius:         0;
    -o-border-radius:           0;
    -webkit-appearance:         none;
    font-size:                  14px;
   
}

.floatL{
	float:					left;
}

.floatR{
	float:					right;
}

.clear{
    clear:                  both;   
}

.wrapper{
    width:                  1024px;
    display:                block;
    margin:                 0 auto;
}

.block{
    display:                block;
}

.margenMenu{
    margin-top:             129px;
}

/********************** Estilos Pantalla Principal *********************************************/
.bannerPrincipal{
    height:                                     550px;
    margin-top:                                 129px;
    max-width:                                  750px;
    background:                                 url(images/principal/BannerReto.jpg) bottom left no-repeat ;
}

.logoRetoBatidos{
    width:                                      41.4666%; /* 311px entre 750 */
    display:                                    block;
    margin:                                     4.66666% 0 0 6.6666%; /* 35px 0 0 90px entre 750 */
    float:                                      left;
}

.btnIniciaReto{
    width:                                      33.3333%; /* 250px entre 750 */
    display:                                    block;
    margin:                                     0 0 0 8%; /* 0 0 0 60px entre 750 */
    float:                                      left;
}

.bannerApp{
    display:                                    block;
    margin:                                     0;
    padding:                                    0;
}
/********************** Estilos Pantalla Retos Pasados *****************************/
.bannerRetosPasados{
    height:                                     448px;
    background:                                 url(images/RetosPasados/bannerBatidos.png) top left no-repeat;
    margin-top:                                 129px;
}

.textoRetosPasados p{
    padding:                                    30px;
    max-width:                                  690px;
    font-size:                                  1.6em;
    color:                                      #6f6962;
    text-align:                                 center;
}

.batidoPasado{
    border-bottom:                              2px solid #fff;
}

.imagenBatidoPasado{
    z-index:                                    1;
}

.elementosBatidoPasado{
    position:                                   absolute;
    z-index:                                    10;
    margin-top:                                 -180px;
    margin-bottom:                              0;
}

.elementosBatidoPasado p, .elementosBatidoPasado h2 {
    display:                                    block;
    margin-left:                                30px;
}

.favorito{
    display:                                    block;
    margin:                                     10px 30px 35px 30px;
}

/********************** Estilos Pantalla Retos *********************************************/

.iniciaReto{
    position:                                   relative;
    max-width:                                  750px;
}

.imagenIniciaReto{
    position:                                   relative;

}

.elementosIniciaReto{
    position:                                   absolute;
    top:                                        0;
    width:                                      100%;
}

.elementosIniciaReto h2, .check {
    margin-left:                                8%; /* 60 entre 750 * 100*/
}

.elementosIniciaReto h2 {
    display:                                    block;
    float:                                      left;
}

.diaSemana {
    margin:                                     8.666% 0 14.666% 8%;  /*65px 0 110px 60px; */
    display:                                    block;
    width:                                      37.6%;

}

.check{
    display:                                    block;
    clear:                                      both;
    margin-bottom:                              2.666%; /* 20 entre 750 * 100*/
    width:                                      4.5333%; /* 34 entre 750 * 100*/
}

.favoritoReto{
    float:                                      right;
    margin-right:                               4%; /* 30 entre 750 * 100*/
    widows: ;                                   5.7333%; /* 43 entre 750 * 100*/
}

/********************** Estilos Receta Abierta *************************************/

.bannerBatidoAbierto{
    position:                                   relative;
    max-width:                                  750px;
}

.imagenBatidoAbierto{
    z-index:                                    1;
}

.contenidoBatidoAbierto{
    position:                                   absolute;
    z-index:                                    10;
    top:                                        8%; /*60px entre 750*/
    width:                                      100%;
    display:                                    block;
}

.contenidoBatidoAbierto img{
    width:                                      40%; /*300px entre 750*/
    display:                                    block;
    margin:                                     0 auto;
}

.contenidoBatidoAbierto h2{
    padding-top:                                4%; /*30px entre 750*/
    font-size:                                  1.5em;
    text-align:                                 center;
}

.textoBatidoAbierto{
    max-width:                                  750px;
    display:                                    block;
}

.textoBatidoAbierto h3{
    width:                                      90%;
    font-size:                                  2em;
    text-align:                                 center;
    display:                                    block;
    border-bottom:                              2px solid #ee7b68;
    padding:                                    30px 0;
    margin:                                     auto;
    margin-bottom:                              30px; 


}

.textoBatidoAbierto p{
    width:                                      90%;
    font-size:                                  1.2em;
    text-align:                                 center;
    display:                                    block;
    margin:                                     auto;
    margin-bottom:                              30px; 
}

.barraSocial{
    background-color:                           #ee7b68;
    color:                                      #fff;
    max-width:                                  750px;
}

.barraSocial p{
    font-size:                                  1.1em;
    display:                                    block;
    float:                                      left;
    padding:                                    5.06666% 6% 5.06666%  13.6%; /*38px 45px 38px 102px;*/
}


.socialAvance img{
    width:                                      4.93333%; 
    padding:                                    5.06666%  1%; /* 38px 15px*/
}

/********************** Estilos Connect *********************************************/

.contenedorConnect{
    max-width:                                  750px;
    background-image:                           url(images/RetoConnect/fondoConnect.jpg);
    background-position:                        bottom left;
}

.contenedorConnect p{
    display:                                    block;
    padding:                                    9.06666%; /* 68px entre 750px  */
    text-align:                                 center;
    font-size:                                  1.5em;
    margin:                                     4.66666% 0; /* 35px entre 750px  */
}

.logoMujerHolistica{
    display:                                    block;
    width:                                      52%; /* 390px entre 750px  */
    margin:                                     2.6666% auto; /* 20px entre 750px  */
}

#newsletterMH input[type=email]{
    display:                                    block;
    width:                                      80%;
    padding:                                    1.3333%; /* 10px entre 750px  */
    border-radius:                              0.6666%; /* 5px entre 750px  */
    margin:                                     0 auto; 
}

.checkMH{
    display:                                    block;
    width:                                      80%;
    padding:                                    1.3333%; /* 10px entre 750px  */
    margin:                                     2.6666% auto; /* 20px entre 750px  */
}

#newsletterMH input[type=checkbox]{
    width:                                      25px; 
    height:                                     25px; 
    border-radius:                              50%;
}

.checkMH label{

    text-align:                                 center;
    font-size:                                  1.5em;
    padding-left:                               2.6666%; /* 20px entre 750px  */

}

.redesSocialesNL{
    display:                                    block;
    width:                                      40%; /* 300px entre 750px  */
    margin:                                     12% auto; /* 90px entre 750px  */
    margin-bottom:                              0px; 
    padding-bottom:                             600px; 

}

.redesSocialesNL img{
    width:                                      12%; /* 36 px entre 300px  */
    padding:                                    1.6666%; /* 5 px entre 300px  */
}

/********************** Estilos Receta Abierta *************************************/

.bannerPreguntas{
    max-width:                                  750px;
}

.textoPreguntas{
    max-width:                                  750px;
    display:                                    block;
}

.textoPreguntas h3{
    width:                                      80%;
    font-size:                                  1.3em;
    color:                                      #68455a;
    text-align:                                 left;
    display:                                    block;
    margin:                                     15px auto; 
}

.textoPreguntas p{
    width:                                      80%;
    font-size:                                  1em;
    text-align:                                 justify;
    display:                                    block;
    margin:                                     20px auto; 
}

/********************** Lista de Compras *******************************************/

.elementoLista{
    display:                                    block;
    width:                                      85%;
    padding:                                    1.3333%; /* 10px entre 750px  */
    margin:                                     0% auto; /* 20px entre 750px  */
}

#listaCompras{
    margin:                                     20px 0 50px 0; 
}

#listaCompras h3{
    display:                                    block;
    color:                                      #708251;
    width:                                      90%;
    font-size:                                  1.7em;
    padding:                                    1.3333%; /* 10px entre 750px  */
    margin:                                     0% auto; /* 20px entre 750px  */
}

#listaCompras input[type=checkbox]{
    width:                                      25px; 
    height:                                     25px; 
    border-radius:                              255px !important;
    padding-left:                               25px;
}



/********************** Estilos Footer *********************************************/

#footer{
    min-height:                                 200px;
    max-width:                                  750px;
    background:                                 rgba(214,214,214,1);
    background:                                 -webkit-linear-gradient(rgba(214,214,214,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
    background:                                 -o-linear-gradient(rgba(214,214,214,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
    background:                                 linear-gradient(rgba(214,214,214,1) 0%, rgba(255,255,255,1) 28%, rgba(255,255,255,1) 100%);
}

.logofooter img{
    width:                                      17.73333%; /* (133px / 750) * 100*/
    padding:                                    4% 4% 0 9.3333%; 
    display:                                    block;
    float:                                      left;

}

.califica{
    float:                                      left;
    display:                                    block;
    max-width:                                  23.3333%; /* (175px / 750) * 100*/
    padding:                                    8% 4%; /* (60px / 750) * 100, (15px / 750)*100 */
    text-align: center;
}

.califica p, .comparte p{
    font-size:                                  1.2em;
}

.comparte{
    float:                                      left;
    display:                                    block;
    max-width:                                  25.3333%; /* (175px / 750) * 100*/
    padding:                                    8% 4%; /* (60px / 750) * 100, (15px / 750)*100 */
    text-align: center

}

.estrellas a img{
    padding-top:                                2.6666%; /* (20 / 750) * 100  */
    width:                                      13.8571%; /*26px entre 175 * 100 */
}

.redesSocialesFooter a img{
    padding:                                    2.6666% 1.33333% 1.33333% 1.33333%; /*20px 10px 10px 10px*/
    width:                                      13.8571%; /*26px entre 175 * 100 */
}